<mat-toolbar class="navbar headerbar" color="accent">
  <img src="/assets/img/icon/spdata-logo.svg" class="spLogo" (click)="routeTo('')" style="cursor: pointer">
  <div mat-line class="poweredBy" (click)="routeTo('')" style="cursor: pointer">
    <p class="powered"> Powered By </p>
    <h4 class="perk4me">Perk4Me </h4>
  </div>
  <span class="spacer"></span>

  <mat-icon (click)="routeTo('userprofile')" *ngIf="!image">person</mat-icon>
  <img class="useravatar-icon" [src]='image' alt="" (click)="routeTo('userprofile')"
    *ngIf="image">


  <mat-icon (click)="routeTo('marketplace')">shopping_basket</mat-icon>

  <mat-icon (click)="routeTo('shoppingcart')">shopping_cart<span *ngIf="cartCount>0" class="cartBadge"
      matBadge="{{cartCount}}" matBadgeColor="primary" matBadgePosition="below after"></span></mat-icon>

  <mat-icon (click)="routeTo('')">home</mat-icon>

  <button mat-button [matMenuTriggerFor]="loggedinmenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #loggedinmenu>
    <button mat-menu-item (click)="logout()">Log Out</button>
    <button mat-menu-item (click)="routeTo('admin')">Admin</button>
  </mat-menu>

  <button mat-button (click)="logout()">Sign Out</button>
  

  <!-- <mat-toolbar class="navbar headerbar" *ngIf="loggedIn">
  <img src="/assets/img/icon/spdata-logo.svg" class="spLogo" (click)="routeTo('')" style="cursor: pointer">

  <div mat-line class="poweredBy" (click)="routeTo('')" style="cursor: pointer">
    <p class="powered"> Powered By </p>
    <h4 class="perk4me">Perk4Me </h4>
  </div>
  <span class="spacer"></span>
  <h4 class="username">{{currentUser.name}}</h4>
  <button mat-button (click)="logout()">Sign Out</button>
 <span class="spacer"></span>

    <button mat-button (click)="signout()">Sign Out</button>

  <div mat-line class="userinfo">
    <h4 class="username">{{currentUser.firstName}} {{currentUser.lastName}}</h4>
    <p class="userpoints"> {{currentUser.points | number}} points </p>
  </div>

  <mat-icon (click)="routeTo('userprofile')" *ngIf="!currentUser.picture">person</mat-icon>
  <img class="useravatar-icon" [src]='currentUser.picture' alt="" (click)="routeTo('userprofile')"
    *ngIf="currentUser.picture">


  <mat-icon (click)="routeTo('marketplace')">shopping_basket</mat-icon>

  <mat-icon (click)="routeTo('shoppingcart')">shopping_cart<span *ngIf="cartCount>0" class="cartBadge"
      matBadge="{{cartCount}}" matBadgeColor="primary" matBadgePosition="below after"></span></mat-icon>

  <mat-icon (click)="routeTo('')">home</mat-icon>

  <button mat-button [matMenuTriggerFor]="loggedinmenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #loggedinmenu>
    <button mat-menu-item (click)="logout()">Log Out</button>
    <button mat-menu-item (click)="routeTo('admin')">Admin</button>
  </mat-menu>

</mat-toolbar>


<mat-toolbar class="navbar headerbar" *ngIf="!loggedIn">
  <img src="/assets/icon/spdata-logo.svg" class="spLogo">

  <div mat-line class="poweredBy">
    <p class="powered"> Powered By </p>
    <h4 class="perk4me">Perk4Me </h4>
  </div>

  <span class="spacer"></span>  -->

</mat-toolbar>