<app-navbar></app-navbar>

<div class="login-grid" fxLayoutAlign="center center">

    <!-- TITLE BLOCK -->

    <div style="text-align: right;">
        <div class="title-block" style="text-align: right;">
            <h1>Welcome to Perk4Me!</h1>
            <!-- <p class="subheader">Because, you deserve</p> -->
        </div>
    </div>

    <!-- LOGIN BLOCK -->

    <div class="login-block">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>person</mat-icon>
                </div>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>

            <mat-divider style="padding:3px;"></mat-divider>
            <div class="alert-container" fxLayoutAlign="center">
                <alert></alert>
            </div>
            <mat-card-content>
                <form (ngSubmit)="login()">
                    <div>
                        <label for="username">Username</label>
                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="username" name="username" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        </mat-form-field>
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div class="warning" *ngIf="f.username.errors.required">Username is required!</div>
                        </div>
                    </div>
                    <div>
                        <label for="password">Password</label>

                        <mat-form-field>
                            <input matInput type="password" [(ngModel)]="password" name="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        </mat-form-field>

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div class="warning" *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>

                    <div fxLayoutAlign="center">
                        <button mat-flat-button color="primary" [disabled]="loading">Login</button>
                        <button mat-stroked-button color="primary" routerLink="/register">Register</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="info-grid" fxLayoutAlign="center center">
    <div fxDirection="column">
        <h1> Get Started with Perk4Me</h1>
        <button mat-flat-button color="primary" (click)="contact.scrollIntoView()">Contact Us</button>
    </div>
</div>

<div class="info-grid" fxDirection="row" fxLayoutAlign="center center">
    <div fxFlex="50" fxDirection="column">
        <img class="info-image" src="assets/img/home/turnover.png">
    </div>
    <div fxFlex="50" fxDirection="column">
        <h1> The Problem </h1>
        <p>
            <strong>Employee turnover</strong> is expensive. Specifically,
            companies haven’t figured out how to engage and
            retain an increasingly Millennial/Gen Z workforce.
        </p>
        <p>
            <strong>Attracting talent</strong> is difficult for companies in a highly
            competitive labor market.
        </p>
    </div>
</div>

<div class="info-grid" fxDirection="row" fxLayoutAlign="center center">
    <div fxFlex="50" fxDirection="column">
        <h1> The Solution </h1>
        <p>
            An online platform where employees earn perks based on performance
        </p>
        <div fxDirection="row">
            <div fxDirection="column" fxFlex="30">
                <strong>Attract Talent</strong>
                <p>Perk packages match recruits’ values</p>
            </div>
            <div fxDirection="column" fxFlex="30">
                <strong>Boost Productivity</strong>
                <p>Incentives for high performance</p>
            </div>
            <div fxDirection="column" fxFlex="30">
                <strong>Retain Employees</strong>
                <p>Improved corporate culture</p>
            </div>
        </div>
    </div>
    <div fxFlex="50" fxDirection="column">
        <img class="info-image" src="assets/img/home/community.png">
    </div>
</div>

<header #contact class="footer">
    <div fxLayoutAlign="center center">
        <div fxDirection="column">
            <h1 style="color:white"> Our Team </h1>
            <p><a target="_blank" href="mailto:info@Perk4Me.com">info@Perk4Me.com</a></p>
            <div fxDirection="row" fxLayoutAlign="center center">
                <div fxDirection="column" fxFlex="30">
                    <img class="profile" src="assets/img/profiles/sam.png">
                    <h3>Sam Seder</h3>
                    <p>Co-Founder and CEO</p>
                    <!-- <p><a href="">sam.seder@perk4me.com</a></p> -->
                </div>
                <div fxDirection="column" fxFlex="30">
                    <img class="profile" src="assets/img/profiles/lindsay.png">
                    <h3>Lindsay MacMillan</h3>
                    <p>Co-Founder</p>
                    <!-- <p><a href="">lindsay.macmillan@perk4me.com</a></p> -->
                </div>
                <div fxDirection="column" fxFlex="30">
                    <img class="profile" src="assets/img/profiles/sergei.jpg">
                    <h3>Sergei Hanka</h3>
                    <p>Co-Founder and CTO</p>
                    <!-- <p><a href="">sergei.hanka@perk4me.com</a></p> -->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="license">
    <span class="spacer"></span>
    All rights reserved 2019 Sergei Hanka & Perk4Me
</div>


<!-- 
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h3> Perk4Me </h3>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card> -->