@import "../styles.scss";

.body {
  background-color: transparent;
  overflow: hidden;
}

.spacer {
  flex: 1 1 auto;
}

.headerbar {
  background-color: $navy-primary;
  color: $white;
}

.footerbar {
  background-color: transparent !important;
}

div.page-content {
  width: 80%;
  margin: 0 auto;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0;
  transition: background-color 5000s ease-in-out 0s;
}
