@import "../../app.component.scss";

.itemheader {
  color: $navy-primary;
}

.itemcontent {
  padding: 3px;
}

.avatar {
  margin-top: 12px;
  width: 100%;
  border-radius: 6px;
}

.cartTicker {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
  color: $yellow-primary;
  margin: 0;
  padding: 0;
}

.price {
  cursor: pointer;
  right: 0;
  padding: 0;
  margin: 0;
}
